<h1 class="label_form">Editar Despesa</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.despesa_path(@conn, :update, @despesa)) %>

<span><%= link "Voltar", to: Routes.despesa_path(@conn, :index) %></span>
