<h1 class="label_form">Detalhes da Despesa</h1>

<ul>

  <li class="input_form">
    <strong>Nome:</strong>
    <%= @despesa.nome %>
  </li>

  <li class="input_form">
    <strong>Valor:</strong>
    <%= @despesa.valor %>
  </li>

  <li class="input_form">
    <strong>Data:</strong>
    <%= @despesa.data %>
  </li>

</ul>

<span><%= link "Editar", to: Routes.despesa_path(@conn, :edit, @despesa) %></span> |
<span><%= link "Voltar", to: Routes.despesa_path(@conn, :index) %></span>
