<h1>Show Despesa</h1>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @despesa.nome %>
  </li>

  <li>
    <strong>Valor:</strong>
    <%= @despesa.valor %>
  </li>

  <li>
    <strong>Data:</strong>
    <%= @despesa.data %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.despesa_path(@conn, :edit, @despesa) %></span> |
<span><%= link "Back", to: Routes.despesa_path(@conn, :index) %></span>
