<ul>
<%= if @current_usuario do %>
  <li><%= @current_usuario.email %></li>
  <li><%= link "Configurações", to: Routes.usuario_settings_path(@conn, :edit) %></li>
  <li><%= link "Sair", to: Routes.usuario_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Registrar", to: Routes.usuario_registration_path(@conn, :new) %></li>
  <li><%= link "Entrar", to: Routes.usuario_session_path(@conn, :new) %></li>
<% end %>
</ul>
